.landing-main {
    font-size: 15px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; /* Centerkan teks */
    padding: 20px;
}

.landing-logo {
    max-width: 25%;  /* Logo responsif */
    height: auto;
    margin-bottom: 20px;  /* Memberikan jarak antara logo dan teks */
}

.landing-login-button, .landing-register-button {
    background: black;
    color: white;
    border: 3px solid black;
    transition: background 1s linear 0ms, color 500ms linear 0ms;
    width: 500px;
    padding: 16px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.landing-register-button:hover, .landing-login-button:hover {
    color: #333;
    background-color: white;
}

h1 {
    font-size: 13px;
    text-align: center;
    margin-bottom: 20px;  /* Memberikan jarak antara heading dan paragraf */
}

.landing-main p {
    font-size: 15px;  /* Membesarkan ukuran font paragraf */
    line-height: 1.5;  /* Menambahkan jarak antar baris */
    margin-bottom: 30px;  /* Memberikan jarak antara paragraf dan tombol */
    text-align: center;
}

