.landing-main {
    font-size: 15px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.landing-logo {
    max-width: 25%;
    height: auto;
    margin-bottom: 20px;
}

.landing-login-button, .landing-register-button {
    background: black;
    color: white;
    border: 3px solid black;
    transition: background 1s linear, color 500ms linear;
    width: 500px;
    padding: 16px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.landing-register-button:hover, .landing-login-button:hover {
    color: #333;
    background-color: white;
}

h1 {
    font-size: 13px;
    margin-bottom: 20px;
}

.landing-main p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
}
