html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.register-main {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.register-left {
  flex-grow: 1;
  height: 100vh;
  background-color: #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.register-left img {
  max-width: 450px;
  width: 100%;
  height: auto;
}

.register-right {
  height: 100vh;
  flex-grow: 1;
  width: 50%;
}

.register-right-container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-right form {
  display: flex;
  flex-direction: column;
}

.register-center {
  margin: auto 0;
  text-align: center;
}

.register-center h2 {
  margin-top: 60px;
  font-size: 20px;
}

.register-center p {
  font-weight: 400;
  font-size: 15px;
}

form input[type='email'],
form input[type='password'],
form input[type='text'] {
  width: 100%;
  padding: 10px;
  border: 0px;
  border-bottom: 1px solid black;
  outline: none;
  box-sizing: border-box;
  font-size: 12px;
}
  .google-login-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.pass-input-div {
  position: relative;
}

.pass-input-div svg {
  font-size: 15px;
  position: absolute;
  right: 10px;
  bottom: 35px;
  cursor: pointer;
  outline: none;
}

form button[type='submit'] {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 30px;
  font-weight: 600;
}

.register-center-options {
  display: flex;
  justify-content: space-between;
}

.remember-div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.remember-div label {
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 2px;
}

.forgot-pass-link {
  text-decoration: none;
  font-size: 13px;
}

.forgot-pass-link:hover {
  text-decoration: underline;
}

.register-center-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.register-center-buttons button:nth-child(1) {
  background-color: black;
  color: white;
  border: 3px solid black;
  transition: background 1s linear 0ms, color 500ms linear 0ms;
}

.register-center-buttons button:nth-child(1):hover {
  color: #333;
  background-color: white;
}

.register-center-buttons button:nth-child(2) {
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  transition: background 500ms linear 0ms;
}

.register-center-buttons button:nth-child(2) img {
  width: 30px;
}

.register-center-buttons button:nth-child(2):hover {
  background: #c4c4c4c2;
}

.register-bottom-p {
  text-align: center;
  font-size: 12px;
  margin-top: 15px;
  padding-bottom: 30px;
}

.register-bottom-p a {
  text-decoration: none;
  font-weight: 600;
}

.register-bottom-p a:hover {
  text-decoration: underline;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .register-main {
    flex-direction: column;
    position: relative;
    height: auto;
  }
  
  .register-left, 
  .register-right {
    width: 100%;
    height: auto;
  }

  .register-left img {
    max-width: 300px;
  }

  .register-right-container {
    width: 90%;
    padding-top: 50px;
  }

  .register-center h2 {
    font-size: 25px;
  }

  .register-center p {
    font-size: 16px;
  }
}
