/* === Struktur Utama === */
.terms-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
}

.header-container {
    display: flex;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;
    position: relative;
}

.back-button {
    margin-left: 25px;
}

.back-button-style {
    background: none;
    border: none;
    cursor: pointer;
}

.back-button img {
    width: 30px;
    height: 30px;
}

.terms-title {
    flex-grow: 1;
    text-align: center;
}

/* === Konten Utama === */
main.terms-main {
    flex-grow: 1;
    padding: 20px 40px;
}

/* === Teks dan Judul === */

.terms-title{
    font-size: 30px;
}
.terms-main h1 {
    font-size: 15px;
    margin: 0;
    color: #000;
    text-align: left;
}

.terms-main h2 {
    font-size: 1.2em;
    margin-left: 25px;
    margin-top: 30px;
    color: #000;
    text-align: left;
}

.terms-main p {
    font-size: 15px;
    line-height: 1.6;
    margin: 10px 30px 30px 30px;
    text-align: left;
}

/* === Garis Pemisah === */
.terms-main hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

/* === Responsif Mobile === */
@media (max-width: 768px) {
    .terms-title{
    font-size: 25px;
    margin-left: 30px;
}
    .terms-main h1 {
        font-size: 16px;
        text-align: center;
        margin-right: 0px;
    }

    .terms-main h2 {
        font-size: 1em;
        margin-left: 15px;
    }

    .terms-main p {
        font-size: 13px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .back-button img {
        width: 25px;
        height: 25px;
    }

    main.terms-main {
        padding: 20px;
    }
}
