.landingMain {
    font-size: 15px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.landingLogo {
    max-width: 25%;
    height: auto;
    margin-bottom: 20px;
}

.landingButton {
    background: black;
    color: white;
    border: 3px solid black;
    transition: background 1s linear 0ms, color 500ms linear 0ms;
    width: 500px;
    padding: 16px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.landingButton:hover {
    color: #333;
    background-color: white;
}

.landingTitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.landingDescription {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
    max-width: 600px;
}
